//
//  .gitignore
//  MTG Lifecounter
//
//  Created by Snowye on 22/10/24.
//

.DS_Store

# Xcode
MTG\ Lifecounter/MTG\ Lifecounter.xcodeproj/project.xcworkspace/xcuserdata/snowye.xcuserdatad/*
MTG\ Lifecounter/MTG\ Lifecounter.xcodeproj/project.pbxpro